# 第4章 操作列表

## 4.1 遍历整个列表

In [1]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)#第三行要打四个空格作为缩进（indentation）

alice
david
carolina

### 4.1.1 深入研究循环

In [8]:
fruits = ['banana', 'apple', 'pear']
for fruit in fruits:
    print(fruit)#临时变量的名称尽量清晰

banana
apple
pear

### 4.1.2 在 for 循环中执行更多的操作

In [15]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}")
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
print("Thank you, everyone. That was a great magic show!")

Alice
Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David
David, that was a great trick!
I can't wait to see your next trick, David.

Carolina
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [3]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}")
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.")
print("\nThank you, everyone. That was a great magic show!")#这里可以看出缩进的重要性

Alice
Alice, that was a great trick!
I can't wait to see your next trick, Alice.
David
David, that was a great trick!
I can't wait to see your next trick, David.
Carolina
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

## 4.2 避免缩进错误

In [5]:
#忘记缩进
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)

IndentationError: expected an indented block after 'for' statement on line 2 (2510761304.py, line 3)

In [6]:
#忘记缩进额外的代码行——逻辑错误
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [9]:
#循环后不必要的缩进
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you, everyone. That was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you, everyone. That was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [10]:
#遗漏冒号
magicians = ['alice', 'david', 'carolina']
for magician in magicians
    print(magician)

SyntaxError: expected ':' (825969114.py, line 3)

## 4.3 创建数值列表

### 4.3.1 使用range（）函数

In [18]:
for value in range(1,5):
    print(value)#实际输出的值少一个

1
2
3
4

In [11]:
squares = []
for value in range(1, 11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 4.3.2 列表推导式

In [12]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
squares = []
for value in range(1, 11):
    square = value**2
    squares.append(square)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
numbers=list(range(1,11))#要将这组数转换为列表，可使用 list()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#在使用 range() 函数时，还可指定步长。可以给range() 指定第三个参数，Python 将根据这个步长来生成数。
even_numbers = list(range(2, 11, 2))#range() 函数从 2 开始数，然后不断地加 2,直到到达11
print(even_numbers)

[2, 4, 6, 8, 10]

### 4.3.3 对数值列表执行简单的统计计算

In [16]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)#最大值

0

In [17]:
max(digits)#最小值

9

In [18]:
sum(digits)#求和

45

In [19]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

## 4.4 使用列表的一部分

### 4.4.1 切片

In [24]:
players = ['charles', 'martina', 'michael', 'florence']
print(players[0:3])

['charles', 'martina', 'michael']

In [28]:
players = ['charles', 'martina', 'michael', 'florence']
print(players[1:3])
print(players[:-1])#没有指定起始索引，默认从列表开头开始提取
print(players[-2:-1])

['martina', 'michael']
['charles', 'martina', 'michael']
['michael']

### 4.4.2 遍历切片

In [22]:
players = ['charles', 'martina', 'michael', 'florence']
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

### 4.4.3 复制列表

In [29]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]#根据原列表创建新列表，不使用则不能达到拷贝后相互独立的效果（深拷贝）
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [30]:
#浅拷贝  myfood和friendfood 共用同一列表了
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

## 4.5 元组（tuple）

In [31]:
#元组：不可变的列表，使用（）而不是[]标识
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [23]:
dimensions = (200, 50)
dimensions[0] = 250 #无法修改元组，类型错误

TypeError: 'tuple' object does not support item assignment

In [24]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

200
50

In [25]:
#修改元组
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

## 练习

In [30]:
animals=['dog', 'cat', 'rabbit', 'fish']
for animal in animals:
    print(f"A {animal} can make a great pet!")
print("\nAny of these animals would make a great pet!")

A dog can make a great pet!
A cat can make a great pet!
A rabbit can make a great pet!
A fish can make a great pet!

Any of these animals would make a great pet!

In [31]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [36]:
numbers = []
for value in range(1,1000):
    numbers.append(value)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [38]:
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
999
499500

In [40]:
odd_number=[]
for value in range(0,100,1):
    odd_number.append(value)
print(odd_number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [41]:
even_number=[]
for value in range(0,100,2):
    even_number.append(value)
print(even_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [42]:
print(sum(odd_number))
print(sum(even_number))

4950
2450

In [48]:
my_color=['green', 'yellow', 'pink', 'blue']
print("The first three colors in my list are:")
for three_color in my_color[:3]:
    print(three_color)

The first three colors in my list are:
green
yellow
pink

In [50]:
friend_color=my_color[:]
my_color.append('white')
friend_color.append('black')
print("My favorite colors are:")
print(my_color)
print("\nMy friend's favorite colors are:")
print(friend_color)

My favorite colors are:
['green', 'yellow', 'pink', 'blue', 'white']

My friend's favorite colors are:
['green', 'yellow', 'pink', 'blue', 'black']